@import url('https://fonts.googleapis.com/css?family=Hind|Squada+One&display=swap');

/*========================================
Colors
==========================================*/

html {
	--color-black: #000000;
	--color-light-black: #666666;
	--color-super-light-black: #CCCCCC;

	--color-blue: #8BA8B7;
	--color-light-blue: #BEDBEA;
	--color-super-light-blue: #D8F5FF;

	--color-yellow: #FFFF0D;
	--color-light-yellow: #FFFF40;
	--color-super-light-yellow: #FFFF73;

	--size-ratio: 1.2;
	--size-six-up: calc( var(--size-five-up) * var(--size-ratio) );
	--size-five-up: calc( var(--size-four-up) * var(--size-ratio) );
	--size-four-up: calc( var(--size-three-up) * var(--size-ratio) );
	--size-three-up: calc( var(--size-two-up) * var(--size-ratio) );
	--size-two-up: calc( var(--size-one-up) * var(--size-ratio) );
	--size-one-up: calc( 1rem * var(--size-ratio) );
	--size-one-down: calc( 0.5rem * var(--size-ratio) );

	font-family: var(--font-body);
}


/*========================================
Typography
==========================================*/

a {
	text-decoration: none;
}

a:active {
	color: var(--color-light-blue);
	background: var(--color-super-light-blue);
	text-decoration: underline;
}

a:focus {
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--color-blue);
}

html {
	--font-body: 'Hind', sans-serif;
    --font-head: 'Squada One', cursive;
}


/*========================================
Figure Component
==========================================*/

.headings-sample {
	background-color: var(--color-black);
	color: white;
	margin-left: 5.5rem;
	padding: 0.25rem 0rem 0rem 1rem;
	width: 400px;
}

.large-body-uppercase {
	background-color: var(--color-light-blue);
	font-size: 30px;
	margin: 0;
	margin-left: 3rem;
	padding: 1rem;
	text-transform: uppercase;
	width: 375px;
}

.medium-body-uppercase {
	background-color: var(--color-light-blue);
	font-size: 20px;
	margin: 0;
	margin-left: 3rem;
	padding: 1rem;
	text-transform: uppercase;
	width: 375px;
}

.small-body-uppercase {
	background-color: var(--color-light-blue);
	font-size: 15px;
	margin: 0rem 0rem 2rem 3rem;
	padding: 1rem;
	text-transform: uppercase;
	width: 375px;
}

.large-body-lowercase {
	background-color: var(--color-light-blue);
	font-size: 30px;
	margin: 0;
	margin-left: 3rem;
	padding: 1rem;
	width: 375px;
}

.medium-body-lowercase {
	background-color: var(--color-light-blue);
	font-size: 20px;
	margin: 0;
	margin-left: 3rem;
	padding: 1rem;
	width: 375px;
}

.small-body-lowercase {
	background-color: var(--color-light-blue);
	font-size: 15px;
	margin: 0;
	margin-left: 3rem;
	padding: 1rem;
	width: 375px;
}

.large-headings-uppercase {
	background-color: var(--color-light-blue);
	font-family: var(--font-head);
	font-size: 30px;
	margin: 0;
	margin-left: 3rem;
	padding: 1rem;
	text-transform: uppercase;
	width: 375px;
}

.medium-headings-uppercase {
	background-color: var(--color-light-blue);
	font-family: var(--font-head);
	font-size: 20px;
	margin: 0;
	margin-left: 3rem;
	padding: 1rem;
	text-transform: uppercase;
	width: 375px;
}

.small-headings-uppercase {
	background-color: var(--color-light-blue);
	font-family: var(--font-head);
	font-size: 15px;
	margin: 0rem 0rem 2rem 3rem;
	padding: 1rem;
	text-transform: uppercase;
	width: 375px;
}

.large-headings-lowercase {
	background-color: var(--color-light-blue);
	font-family: var(--font-head);
	font-size: 30px;
	margin: 0;
	margin-left: 3rem;
	padding: 1rem;
	width: 375px;
}

.medium-headings-lowercase {
	background-color: var(--color-light-blue);
	font-family: var(--font-head);
	font-size: 20px;
	margin: 0;
	margin-left: 3rem;
	padding: 1rem;
	width: 375px;
}

.small-headings-lowercase {
	background-color: var(--color-light-blue);
	font-family: var(--font-head);
	font-size: 15px;
	margin: 0;
	margin-bottom: 3.5rem;
	margin-left: 3rem;
	padding: 1rem;
	width: 375px;
}

.size-one-down {
	font-size: var(--size-one-down);
}

.size-one-up {
	font-size: var(--size-one-up);
}

.size-two-up {
	font-size: var(--size-two-up);
}

.size-three-up {
	font-size: var(--size-three-up);
}

.size-four-up {
	font-size: var(--size-four-up);
}

.size-five-up {
	font-size: var(--size-five-up);
}

.size-six-up {
	font-size: var(--size-six-up);
	margin-bottom: 4rem;
}

.ordered-list li {
	font-family: var(--font-body);
	font-size: var(--size-one-up);
	display: block;
	margin: 0;
}

.ordered-list ul {
	font-family: var(--font-body);
	font-size: var(--size-one-up);
	display: block;
	margin-bottom: 3rem;
}

.figcaption {
	color: #424141;
	margin: 3rem 0rem 0rem 5.5rem;
	font-style: italic;
}

.caption p {
	margin: 0rem 0rem 0rem 3.5rem;
}

.caption cite {
	margin-left: 5.5rem;
}

.subdued-italic {
	font-size: var(--size-one-down);
	font-style: italic;
	margin-left: 2.5rem;
}

.subdued-underline {
	font-size: var(--size-one-down);
	margin: 0rem 0rem 4rem 2.5rem;
	text-decoration: underline;
}

.squanda-sample {
	font-family: var(--font-head);
	font-size: 1.35rem;
	margin-left: 1rem;
}


/*========================================
Headings and Paragraphs Component
==========================================*/

.h1-decorative {
	font-size: var(--size-four-up);
	margin-left: 1rem;
	text-transform: uppercase;
}

.h2-decorative {
	font-size: var(--size-two-up);
	margin-bottom: 0;
	text-decoration: underline;
	text-transform: uppercase;
}

.h3-decorative {
	font-size: var(--size-one-up);
	font-style: italic;
	margin-left: 1rem;
	text-transform: uppercase;
}

.h4-decorative {
	background-color: var(--color-light-blue);
}

h6 {
	padding-bottom: 2rem;
}

.headings-indent {
	margin-left: 1rem;
}

.featured-text {
	font-size: var(--size-two-up);
	font-style: italic;
	margin: 1rem 0rem 0rem 10rem;
}


/*========================================
Header Component
==========================================*/

nav a {
	text-decoration: none;
}

nav a:active {
	color: var(--color-light-blue);
	background: var(--color-super-light-blue);
	text-decoration: underline;
}

nav a:focus {
	text-decoration: underline;
}

nav a:hover {
	text-decoration: underline;
}

nav a:visited {
	color: purple;
}

nav li {
	display: inline-flex;
	font-family: var(--font-head);
	font-size: 1.25rem;
	margin: 0.5rem 1rem 1rem 0;
	list-style: none;
	text-transform: uppercase; 
}

nav ul {
	display: flex;
	justify-content: center;

}

.site-logo {
	background-color: var(--color-black);
	color: var(--color-yellow);
	font-family: var(--font-head);
	font-size: 2rem;
	margin: 0rem 0rem 0rem 1rem;
	padding: 1rem;
	text-decoration: underline;
	text-transform: uppercase;
}


/*========================================
Footer Component
==========================================*/

.bio {
	margin: 0;
}

footer {
	background-color: var(--color-light-yellow);
	margin-top: 4rem;
	padding: 1rem;
	font-size: .9rem;
}


/*========================================
Style Swatches
==========================================*/

.style-swatches {
	margin-left: 1rem;
}

.color-swatches {
	margin-left: 3rem;
}


/*========================================
Button Styles
==========================================*/

.link-button-hero {
	background-color: var(--color-black);
	border-radius: .5rem;
	box-shadow: 3px 3px 5px rgba(0,0,0,.5);
	color: var(--color-yellow);
	display: inline-block;
	margin-right: 1rem;
	padding: 1rem 2rem 1rem;
	text-decoration: none;
	text-transform: uppercase;
}

.link-button-hero:hover {
	box-shadow: 5px 5px 35px rgba(0,0,0,.5);
}

.link-button-hero:focus {
	background-color: var(--color-blue);
	outline: none;
}

.link-button-hero:active {
	box-shadow: 1px 1px;
}

.link-button-normal {
	background-color: var(--color-light-black);
	border-radius: .5rem;
	box-shadow: 3px 3px 5px rgba(0,0,0,.5);
	color: var(--color-yellow);
	display: inline-block;
	margin-right: 1rem;
	padding: 1rem 2rem 1rem;
	text-decoration: none;
	text-transform: uppercase;
}

.link-button-normal:hover {
	box-shadow: 5px 5px 35px rgba(0,0,0,.5);
}

.link-button-normal:focus {
	background-color: var(--color-blue);
	outline: none;
}

.link-button-normal:active {
	box-shadow: 1px 1px;
}

.link-button-tertiary {
	background-color: var(--color-super-light-black);
	border-radius: .5rem;
	box-shadow: 3px 3px 5px rgba(0,0,0,.5);
	color: var(--color-black);
	display: inline-block;
	padding: 1rem 2rem 1rem;
	text-decoration: none;
	text-transform: uppercase;
}

.link-button-tertiary:hover {
	box-shadow: 5px 5px 35px rgba(0,0,0,.5);
}

.link-button-tertiary:focus {
	background-color: var(--color-blue);
	outline: none;
}

.link-button-tertiary:active {
	box-shadow: 1px 1px;
}


/*========================================
Accordions
==========================================*/

details {
	margin: 2rem 0;
	overflow: hidden;
}

summary {
	margin-left: 2rem;
	padding: 1rem;
}

summary:focus {
	outline: none;
}

details div {
	padding: 2rem;
}

/*========================================
Modals
==========================================*/

dialog {
	background-color: var(--color-yellow);
	color: var(--color-black);
}

dialog[open] {
	animation: fade-in 1s;
}

dialog::backdrop {
	animation: slide-in-left 1s ease-out;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	background-color: var(--color-yellow);
	opacity: .25;
}

@keyframes fade-in {
	
	0% {
		opacity: 0;
		transform: scale(.1);
	}
	
	60% {
		transform: scale(1.25);
	}
	
	100% {
		opacity: 1;
		transform: scale(1);
	}
	
}

/*========================================
Form Inputs
==========================================*/

input, select, textarea {
	border: 2px solid lightcoral;
	border-color: var(--color-blue);
	border-radius: .5rem;
	box-sizing: border-box;
	display: block;
	margin-top: 1rem;
	min-width: 50%;
	padding: .5rem;
	-webkit-appearance:none;
}

input:focus, select:focus, textarea:focus {
	box-shadow: 2px 2px 0  var(--color-light-black);
	outline: 2px;
}

input[disabled] {
	opacity: .5;
}

.error {
	background-color: var(--color-super-light-blue);
}

.error-message {
	color: var(--color-light-black);
	margin-top: 1.5rem;
	margin-left: 2rem;
}

.form-microcopy {
	display: block;
}

input[type="submit"] {
	background-color: var(--color-light-blue);
	color: var(--color-black);
	margin-top: 1rem;
	min-width: inherit;
}

input[type="submit"]:focus {
	background-color: var(--color-yellow);
	color: var(--color-black);
	margin-top: 1rem;
	min-width: inherit;
}

input[type="submit"]:hover {
	background-color: var(--color-black);
	color: var(--color-yellow);
	cursor: pointer;
}

input[type="submit"]:active {
	background-color: var(--color-blue);
	color: var(--color-yellow);
	cursor: pointer;
}


/*========================================
Media Query: min-width 725px
==========================================*/

@media( min-width: 725px ) {
	
	html {
		--size-ratio: 1.3;
	}

	.headings-sample {
		min-width: 600px;
	}

}

/*========================================
Media Query: min-width 1100px
==========================================*/

@media( min-width: 1100px ) {
	
	html {
		--size-ratio: 1.35;
	}

	.headings-sample {
		min-width: 800px;
	}

}