@import url('https://fonts.googleapis.com/css?family=Hind|Squada+One&display=swap');

/*========================================
Colors
==========================================*/

html {
	--color-black: #000000;
	--color-light-black: #666666;
	--color-super-light-black: #CCCCCC;

	--color-blue: #8BA8B7;
	--color-light-blue: #BEDBEA;
	--color-super-light-blue: #D8F5FF;

	--color-yellow: #FFFF0D;
	--color-light-yellow: #FFFF40;
	--color-super-light-yellow: #FFFF73;

	--size-ratio: 1.2;
	--size-six-up: calc( var(--size-five-up) * var(--size-ratio) );
	--size-five-up: calc( var(--size-four-up) * var(--size-ratio) );
	--size-four-up: calc( var(--size-three-up) * var(--size-ratio) );
	--size-three-up: calc( var(--size-two-up) * var(--size-ratio) );
	--size-two-up: calc( var(--size-one-up) * var(--size-ratio) );
	--size-one-up: calc( 1rem * var(--size-ratio) );
	--size-one-half-down: calc( 0.75rem * var(--size-ratio) );
	--size-one-down: calc( 0.5rem * var(--size-ratio) );

	font-family: var(--font-body);
}

main {
	max-width: 40rem;
	margin: auto;
}


/*========================================
Typography
==========================================*/

a {
	text-decoration: none;
}

a:active {
	color: var(--color-light-blue);
	background: var(--color-super-light-blue);
	text-decoration: underline;
}

a:focus {
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--color-blue);
}

html {
	--font-body: 'Hind', sans-serif;
    --font-head: 'Squada One', cursive;
}


/*========================================
Figure Component
==========================================*/

.headings-sample {
	background-color: var(--color-black);
	color: white;
	margin-left: 5.5rem;
	padding: .25rem 0 0 1rem;
}

.large-body-uppercase {
	background-color: var(--color-light-blue);
	font-size: 1.85rem;
	margin: 0;
	margin-left: 3rem;
	padding: 1rem;
	text-transform: uppercase;
}

.medium-body-uppercase {
	background-color: var(--color-light-blue);
	font-size: 1.3rem;
	margin: 0;
	margin-left: 3rem;
	padding: 1rem;
	text-transform: uppercase;
}

.small-body-uppercase {
	background-color: var(--color-light-blue);
	font-size: .95rem;
	margin: 0 0 2rem 3rem;
	padding: 1rem;
	text-transform: uppercase;
}

.large-body-lowercase {
	background-color: var(--color-light-blue);
	font-size: 1.85rem;
	margin: 0;
	margin-left: 3rem;
	padding: 1rem;
}

.medium-body-lowercase {
	background-color: var(--color-light-blue);
	font-size: 1.3rem;
	margin: 0;
	margin-left: 3rem;
	padding: 1rem;
}

.small-body-lowercase {
	background-color: var(--color-light-blue);
	font-size: .95rem;
	margin: 0;
	margin-left: 3rem;
	padding: 1rem;
}

.large-headings-uppercase {
	background-color: var(--color-light-blue);
	font-family: var(--font-head);
	font-size: 1.85rem;
	margin: 0;
	margin-left: 3rem;
	padding: 1rem;
	text-transform: uppercase;
}

.medium-headings-uppercase {
	background-color: var(--color-light-blue);
	font-family: var(--font-head);
	font-size: 1.3rem;
	margin: 0;
	margin-left: 3rem;
	padding: 1rem;
	text-transform: uppercase;
}

.small-headings-uppercase {
	background-color: var(--color-light-blue);
	font-family: var(--font-head);
	font-size: .95rem;
	margin: 0 0 2rem 3rem;
	padding: 1rem;
	text-transform: uppercase;
}

.large-headings-lowercase {
	background-color: var(--color-light-blue);
	font-family: var(--font-head);
	font-size: 1.85rem;
	margin: 0;
	margin-left: 3rem;
	padding: 1rem;
}

.medium-headings-lowercase {
	background-color: var(--color-light-blue);
	font-family: var(--font-head);
	font-size: 1.3rem;
	margin: 0;
	margin-left: 3rem;
	padding: 1rem;
}

.small-headings-lowercase {
	background-color: var(--color-light-blue);
	font-family: var(--font-head);
	font-size: .95rem;
	margin: 0;
	margin-bottom: 3.5rem;
	margin-left: 3rem;
	padding: 1rem;
}

.size-one-down {
	font-size: var(--size-one-down);
}

.size-one-up {
	font-size: var(--size-one-up);
}

.size-two-up {
	font-size: var(--size-two-up);
}

.size-three-up {
	font-size: var(--size-three-up);
}

.size-four-up {
	font-size: var(--size-four-up);
}

.size-five-up {
	font-size: var(--size-five-up);
}

.size-six-up {
	font-size: var(--size-six-up);
	margin-bottom: 4rem;
}

.ordered-list li {
	font-family: var(--font-body);
	font-size: var(--size-one-up);
	display: block;
	margin: 0;
}

.ordered-list ul {
	font-family: var(--font-body);
	font-size: var(--size-one-up);
	display: block;
	margin-bottom: 3rem;
}

.figcaption {
	color: #424141;
	margin: 3rem 0 0 5.5rem;
	font-style: italic;
}

.caption p {
	margin: 0 0 0 3.5rem;
}

.caption cite {
	margin-left: 5.5rem;
}

.subdued-italic {
	font-size: var(--size-one-down);
	font-style: italic;
	margin-left: 2.5rem;
}

.subdued-underline {
	font-size: var(--size-one-down);
	margin: 0 0 4rem 2.5rem;
	text-decoration: underline;
}

.squanda-sample {
	font-family: var(--font-head);
	font-size: 1.35rem;
	margin-left: 1rem;
}


/*========================================
Headings and Paragraphs Component
==========================================*/

.h1-decorative {
	display: flex;
	font-size: var(--size-two-up);
	justify-content: center;
	text-transform: uppercase;
}

.h2-decorative {
	font-size: var(--size-one-up);
	margin-bottom: 0;
	text-decoration: underline;
	text-transform: uppercase;
}

.h3-decorative {
	font-size: var(--size-one-up);
	font-style: italic;
	margin-left: 3rem;
	text-transform: uppercase;
}

.h4-decorative {
	background-color: var(--color-light-blue);
}

h6 {
	padding-bottom: 2rem;
}

.headings-indent {
	margin-left: 1rem;
}

.featured-text {
	font-size: var(--size-two-up);
	font-style: italic;
	margin: 1rem 0 0 10rem;
}


/*========================================
Header Component
==========================================*/

.page-nav a {
	text-decoration: none;
}

.page-nav a:active {
	color: var(--color-light-blue);
	background: var(--color-super-light-blue);
	text-decoration: underline;
}

.page-nav a:focus {
	text-decoration: underline;
}

.page-nav a:visited {
	color: purple;
}

.page-nav li {
	border-bottom: 1px solid rgba(0,0,0,.3);
	display: block;
	font-family: var(--font-head);
	font-size: 1.25rem;
	margin: .5rem 1rem 1rem 0;
	list-style: none;
	text-decoration: none;
	text-transform: uppercase; 
}

.site-logo {
	background-color: var(--color-black);
	color: var(--color-yellow);
	display: block;
	font-family: var(--font-head);
	font-size: 2rem;
	padding: 1rem;
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
}

.vertical-navigation {
	list-style: none;
	text-transform: uppercase;
}

@media ( min-width: 725px ) {

	.page-nav ul {
		display: flex;
		justify-content: center;
		padding-left: 0;
		text-align: center;
	}

	.page-nav li {
		border-bottom: none;
		display: block;
		margin: .5rem;
		text-decoration: none;
	}

	.page-nav a:hover {
		text-decoration: underline;
	}

	.page-nav .current-page, .page-nav .current-page:visited {
	color: var(--color-light-black);

	}

}

/*========================================
Footer Component
==========================================*/

.bio {
	margin: 0;
}

footer {
	background-color: var(--color-light-yellow);
	margin-top: 4rem;
	padding: 1rem;
	font-size: .9rem;
}


/*========================================
Style Swatches
==========================================*/

.style-swatches {
	margin-left: 1rem;
}

.color-swatches {
	margin-left: 3rem;
}


/*========================================
Button Styles
==========================================*/

.link-button-hero {
	background-color: var(--color-black);
	border-radius: .5rem;
	box-shadow: 3px 3px 5px rgba(0,0,0,.5);
	color: var(--color-yellow);
	display: inline-block;
	margin: 1rem 1rem 0 0;
	min-width: inherit;
	padding: .75rem 1.5rem .75rem;
	text-decoration: none;
	text-transform: uppercase;
}

.link-button-hero:hover {
	box-shadow: 2px 2px 10px rgba(0,0,0,.5);
	color: var(--color-yellow);
	margin: 1rem 1rem 0 0;
	min-width: inherit;
	text-decoration: none;
}

.link-button-hero:focus {
	background-color: var(--color-blue);
	margin: 1rem 1rem 0 0;
	min-width: inherit;
	outline: none;
}

.link-button-hero:active {
	box-shadow: 1px 1px;
	margin: 1rem 1rem 0 0;
	min-width: inherit;
}

.link-button-hero.splash {
	margin: 1rem 1rem 1rem 2rem;
}

.link-button-normal {
	background-color: var(--color-light-black);
	border-radius: .5rem;
	box-shadow: 3px 3px 5px rgba(0,0,0,.5);
	color: var(--color-yellow);
	display: inline-block;
	margin: 1rem 1rem 0 0;
	min-width: inherit;
	padding: .75rem 1.5rem .75rem;
	text-decoration: none;
	text-transform: uppercase;
}

.link-button-normal:hover {
	box-shadow: 2px 2px 10px rgba(0,0,0,.5);
	color: var(--color-yellow);
	margin: 1rem 1rem 0 0;
	min-width: inherit;
	text-decoration: none;
}

.link-button-normal:focus {
	background-color: var(--color-blue);
	margin: 1rem 1rem 0 0;
	min-width: inherit;
	outline: none;
}

.link-button-normal:active {
	box-shadow: 1px 1px;
	margin: 1rem 1rem 0 0;
	min-width: inherit;
}

.link-button-tertiary {
	background-color: var(--color-super-light-black);
	border-radius: .5rem;
	box-shadow: 3px 3px 5px rgba(0,0,0,.5);
	color: var(--color-black);
	display: inline-block;
	min-width: inherit;
	padding: .75rem 1.5rem .75rem;
	text-decoration: none;
	text-transform: uppercase;
}

.link-button-tertiary:hover {
	box-shadow: 2px 2px 10px rgba(0,0,0,.5);
	color: var(--color-black);
	text-decoration: none;
}

.link-button-tertiary:focus {
	background-color: var(--color-blue);
	outline: none;
}

.link-button-tertiary:active {
	box-shadow: 1px 1px;
}


/*========================================
Accordions
==========================================*/

details {
	background-color: var(--color-blue);
	margin: 2rem 0;
	overflow: hidden;
}

details p {
	background-color: var(--color-light-yellow);
	padding: 1rem;
}

summary {
	margin-left: 2rem;
	padding: 1rem;
}

summary:focus {
	outline: none;
}

details div {
	padding: 2rem;
}

/*========================================
Modals
==========================================*/

dialog {
	background-color: var(--color-yellow);
	color: var(--color-black);
}

dialog[open] {
	animation: fade-in .5s;
}

dialog::backdrop {
	animation: left 1s;
	animation-delay: .25s;
	animation-fill-mode: forwards;
	background-color: var(--color-yellow);
}

@keyframes fade-in {
	
	0% {
		opacity: 0;
		transform: scale(.1);
	}
	
	60% {
		transform: scale(1.25);
	}
	
	100% {
		opacity: 1;
		transform: scale(1);
	}
	
}

/*========================================
Form Inputs
==========================================*/

input, select, textarea {
	border: 2px solid lightcoral;
	border-color: var(--color-blue);
	border-radius: .5rem;
	box-sizing: border-box;
	display: block;
	margin-top: 1rem;
	min-width: 50%;
	padding: .5rem;
	-webkit-appearance:none;
}

input:focus, select:focus, textarea:focus {
	box-shadow: 2px 2px 0  var(--color-light-black);
	outline: 2px;
}

input[disabled] {
	opacity: .5;
}

.error {
	background-color: var(--color-super-light-blue);
}

.error-message {
	color: var(--color-light-black);
	margin-top: 1.5rem;
	margin-left: 2rem;
}

.error-text {
	color: red;
}

.input-examples {
	margin: 3rem 0 0 1rem;
}

.form-field {
	margin: 2rem 0 0 1rem;
}

.form-field-error {
	border-color: red;
	color: purple;
	margin: 2rem 0 0 1rem;
}

.form-field-textarea {
	background-color: var(--color-super-light-blue);
	margin: 2rem 0 0 1rem;
}

.form-field-textarea-disabled {
	margin: 2rem 0 0 1rem;
}

.form-message {
	margin: .5rem 0 0 1rem;
}

.form-message-error {
	color: red;
	margin: .5rem 0 0 1rem;
}

.form-microcopy {
	display: block;
}

input[type="submit"], button {
	background-color: var(--color-light-blue);
	color: var(--color-black);
	margin-top: 1rem;
	min-width: inherit;
}

input[type="submit"]:focus, button:focus {
	background-color: var(--color-yellow);
	color: var(--color-black);
	margin-top: 1rem;
	min-width: inherit;
}

input[type="submit"]:hover, button:hover {
	background-color: var(--color-black);
	color: var(--color-yellow);
	cursor: pointer;
}

input[type="submit"]:active, button:active {
	background-color: var(--color-blue);
	color: var(--color-yellow);
	cursor: pointer;
}


/*========================================
Notifications
==========================================*/

.error-message {
	color: var(--color-black);
	margin: 0 0 0 .25rem;
	text-transform: none;
}

.neutral-message {
	color: var(--color-black);
	margin: 0 0 0 .25rem;
	text-transform: none;
}

.notification {
	align-items: center;
	border-radius: 2px;
	color: var(--color-black);
	display: flex;
	padding: .9rem 1.6rem;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	width: 25rem;
}

.notification.error {
	background-color: var(--color-yellow);
}

.notification.neutral {
	align-items: center;
	background-color: var(--color-light-blue);
}

.notification.success {
	background-color: lightgreen;
}

.notification.warning {
	background-color: coral;
}

.success-message {
	color: var(--color-black);
	margin: 0 0 0 .25rem;
	text-transform: none;
}

.warning-message {
	color: white;
	margin: 0 0 0 .25rem;
	text-transform: none;
}

.warning-message img {
	align-items: baseline;
}


/*========================================
Hero Component
==========================================*/

.hero {
	background-color: var(--color-light-blue);
	background-position: center;
	background-size: cover;
	background-image: url('images/hero_image.png');
	min-height: 100vh;
	margin: 0;
	text-align: center;
}

.hero-main {
	margin: 0;
}


/*========================================
Information Cards Component (Wolverine)
==========================================*/

.card-wolverine {
	background-color: tan;
	border: 1px solid tan;
	border-radius: 2rem;
	margin-bottom: 2.5rem;
	max-width: 35rem;
	padding: 2rem;
	position: relative;
}

.card-wolverine img {
	margin: auto;
	max-width: 8rem;
	position: absolute;
	top: 1.5rem;
	right: 5rem;
}

.card-wolverine h2 {
	color: var(--color-black);
	margin-left: 3rem;
	text-transform: uppercase;
}

.card-wolverine p {
	color: var(--color-black);
	margin: 1.5rem 0 0 2rem;
	max-width: 15rem;
}

.card-wolverine figcaption {
	color: var(--color-black);
	padding-top: 2rem;
	margin-right: 1rem;
	text-align: right;
}


/*========================================
Information Cards Component (Stan Lee)
==========================================*/

.card-person {
	background-color: var(--color-black);
	border: 1px solid tan;
	border-radius: 2rem;
	margin-top: 3rem;
	max-width: 35rem;
	padding: 2rem;
	position: relative;
}

.card-person img {
	margin: auto;
	max-width: 8rem;
	position: absolute;
	top: -1.5rem;
	left: 5rem;
}

.card-person h2 {
	color: var(--color-light-blue);
	margin-right: 3rem;
	text-align: right;
	text-transform: uppercase;
}

.card-person p {
	color: var(--color-light-blue);
	margin-right: 3rem;
	text-align: right;
}


/*================================================
Information Cards Component (Comic/Call to Action)
================================================*/

.card-comic {
	background-color: var(--color-black);
	border: 1px solid tan;
	border-radius: 2rem;
	margin-bottom: 2.5rem;
	max-width: 35rem;
	padding: 2rem;
	position: relative;
}

.card-comic img {
	margin: auto;
	max-width: 8rem;
	position: absolute;
	top: 2rem;
	right: 4rem;
}

.card-comic h4 {
	text-align: center;
	color: var(--color-yellow);
	margin-left: 1.5rem;
	max-width: 15rem;
	text-transform: uppercase;
}

.comic-button {
	background-color: var(--color-yellow);
	border-radius: .5rem;
	box-shadow: 3px 3px 5px rgba(0,0,0,.5);
	color: var(--color-black);
	display: inline-block;
	margin-left: 3rem;
	padding: .75rem 1.5rem .75rem;
	text-decoration: none;
	text-transform: uppercase;
}


/*========================================
Card Grid (HTML)
==========================================*/

.card-grid-hero {
	background-position: center;
	background-size: cover;
	background-image: url('images/mortal-kombat-2.png');
	color: white;
	min-height: 100vh;
	margin: 0;
	text-align: center;
}


/*========================================
Card Grid (Layouts)
==========================================*/

.card-grid {
	align-items: center;
	display: grid;
	grid-gap: 4rem;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 15rem 15rem;
	margin: 2rem;
	text-align: center;
}

.card-grid h3 {
	margin: 1rem 0 .5rem 0;
}

.card-grid img {
	display: block;
	margin: 1rem auto .5rem auto;
}

.card-grid div {
	background-color: var(--color-super-light-black);
}


/*========================================
Call to Action
==========================================*/

a:hover {
	text-decoration: none;
}

.call-to-action {
	background-color: var(--color-light-yellow);
	border: 1px var(--color-light-black);
	border-radius: 2rem;
	color: var(--color-black);
	display: block;
	margin: 2.5rem auto 2.5rem auto;
	max-width: 25rem;
	padding: 2rem;
	position: relative;
	text-align: center;
}

.call-to-action h2 {
	color: var(--color-black);
}

.call-to-action img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.call-to-action p {
	color: var(--color-black);
}


/*========================================
Media Query: min-width 725px
==========================================*/

@media( min-width: 725px ) {
	
	html {
		--size-ratio: 1.3;
	}

	.headings-sample {
		min-width: 600px;
	}

	.h1-decorative {
		display: flex;
		font-size: var(--size-three-up);
		justify-content: center;
		margin: auto;
		text-align: center;
		text-transform: uppercase;
	}

	.h2-decorative {
		font-size: var(--size-two-up);
		margin-bottom: 0;
		text-decoration: underline;
		text-transform: uppercase;
	}
}

/*========================================
Media Query: min-width 1100px
==========================================*/

@media( min-width: 1100px ) {
	
	html {
		--size-ratio: 1.35;
	}

	.headings-sample {
		min-width: 800px;
	}

}